<p><%= gettext("Dear %{name},", name: @case_initials) %></p>

<p><%= gettext("Your COVID-19 test came back, and you tested positive. You should immediately tell your parent/guardian.") %></p>

<p><%= gettext("What you should do next:") %></p>

<%= self_isolate_blurb(@patient_case) %>

<%= protect_your_family_blurb() %>

<p><%= gettext("Monitor your symptoms. If you have...") %></p>

<p><%= gettext("As discussed during our call...") %></p>

<%= contact_blurb() %>
