<h1><%= gettext("We're sorry, but we're unable to verify your identity.") %></h1>
<p><%= gettext("To add additional contacts, contact the Department of Health at ") %><%= link "(833) 227-5045", to: "tel:1-833-227-5045" %></p>
