<%= render "_progress.html", n: 1, socket: @socket, with_back_button?: true, back_path: :prep %>

<h1><%= house_header(@patient_case) %></h1>
<p><%= gettext("Include people who live...") %></p>
<div class="button-group">
  <%= live_patch gettext("Add Contacts"), to: questionnaire_path(@socket, :add_contact, %{ skip_path: :social }), id: "add-contact-button", class: "button button-outline" %>
  <%= live_patch gettext("Skip question"), to: questionnaire_path(@socket, :social), id: "skip-button", class: "button button-clear" %>
</div>
